.container {
  text-align: left;
  background-color: rgba(0, 68, 170, 0.801);
}

.grid-title {
  margin: 0;
  color: white;
  padding: 5px 0 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border: 1px solid grey;
  color: white;
}

.light-blue {
  background-color: rgba(48, 61, 145, 0.838);
}

.dark-blue {
  background-color: rgba(48, 48, 150, 0.582);
}
