
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(89, 162, 250, 0.9);
  padding: 20px; 
}


.hero-image {
  flex: 1; 
  padding: 10px; 
}


.hero-image img {
  max-width: 40%; 
  height: auto;
  border-radius: 50%;
  margin-left: 200px;
  animation: rotate 70s linear infinite;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.hero-content {
  flex: 1; 
  padding: 20px; 
}


.hero-title {
  font-size: 36px; 
  font-weight: bold; 
  color: white; 
  text-transform: uppercase; 
  text-align: center; 
  margin-right: 300px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
